
/* 
///////////////////////////////////////////////////////////////////////////////////////////
Elemento base
///////////////////////////////////////////////////////////////////////////////////////////
 */
.player_schedule_input{
  display: grid;
  grid-template-columns: repeat(7,1fr); 
}

/* 
///////////////////////////////////////////////////////////////////////////////////////////
Caja de acciones
///////////////////////////////////////////////////////////////////////////////////////////
 */

.player_schedule_input #actions{
  grid-column: 1/-1;
}

/* 
///////////////////////////////////////////////////////////////////////////////////////////
Caja de titulo del dia
///////////////////////////////////////////////////////////////////////////////////////////
 */
.player_schedule_input .daybox{
  cursor: pointer;
  background: rgb(143, 163, 184);
  margin-block: 0;
  padding-block: 1rem;
}
.player_schedule_input .daybox:nth-child(odd){
  background: slategrey;
}

/* 
///////////////////////////////////////////////////////////////////////////////////////////
Recuadros de hora
///////////////////////////////////////////////////////////////////////////////////////////
 */
.player_schedule_input .hourbox{
  cursor: pointer;
  background: rgb(190, 190, 190);
  padding-inline: 1rem;
  padding-block: 0.2rem;
}
.player_schedule_input .hourbox:nth-child(odd){
  background: rgb(143, 143, 143);
}
.player_schedule_input .hourbox[selected="t"]{
  background: greenyellow;
}