.player_tracker{
  display: flex;
  width: 100%;
}

.player_tracker #players{
  max-width: 30%;
  background: #e0c6c6;
}
.player_tracker #players button{
  padding-block: 0.8rem;
  padding-inline: 0.3rem;
  min-width: 10rem;
  font-size: 1.1rem;
}
.player_tracker #players #player_list h1{
  margin-block: 0.4rem;
}

.player_tracker #adding_player{
  background: #d39b9b;
}